# Database Credentials
POSTGRES_DB=products_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password

MONGO_INITDB_DATABASE=products_read_db

# Microservice Ports
WRITE_SERVICE_PORT=8080
READ_SERVICE_PORT=8081

# Kafka Configuration
KAFKA_BROKERS=kafka:29092
KAFKA_TOPIC=pg-server.public.products